.dashboard-menu-items {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
}

.dashboard-menu-items .dashboard-menu-item {
    display: block;
    padding-right: 10px;
}

.dashboard-menu-items .dashboard-menu-item a {
    color: #fff;
}